$media-lg: 960;
$media-md: 620;
//$media-sm: 415;

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

html {
  .mobile {
    @media (min-width: toRem($media-lg)) {
      background: green;
      display: none;
    }
  }

  .desktop {
    @media (max-width: toRem($media-lg)) {
      display: none;
    }
  }
}
